<template>
  <v-layout row wrap>
    <v-flex xs12 lg8 xl6 offset-lg2 offset-xl3>
      <v-sheet class="pa-3">
        <div style="display: flex" class="align-center justify-space-between mb-3">
          <div class="headline">My Proposals</div>
          <v-btn class="ma-0" nuxt to="/my-account/proposals/new" color="indigo" dark>New Proposal</v-btn>
        </div>

        <v-data-table
          :headers="headers"
          :items="proposals"
          :pagination.sync="pagination"
          :totalItems="pagination.totalItems"
          @update:pagination="onPageChange"
          must-sort
        >
          <template v-slot:items="props">
            <td>{{ props.item.title }}</td>
            <td>{{ props.item.short_description }}</td>
            <td>{{ $moment().unix(props.item.created_at).format('LL') }}</td>
          </template>
        </v-data-table>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    middleware: 'auth',
    data() {
      return {
        headers: [
          { text: 'Title', value: 'title', sortable: false },
          { text: 'Short Description', value: 'short_description', sortable: false },
          { text: 'Created', value: 'created_at' },
        ],
        proposals: [],
        pagination: {
          descending: true,
          sortBy: 'created_at',
          rowsPerPage: 5,
          page: 1,
          totalItems: null,
        },
        sortField: 'created_at',
        sortOrder: 'desc',
      }
    },
    methods: {
      async fetchProposals() {
        let params = {
          per_page: this.pagination.rowsPerPage,
          page: this.pagination.page
        };

        if (this.pagination.sortBy) {
          params.sort_by = this.pagination.sortBy + '.' + (this.pagination.descending ? 'desc' : 'asc');
        }

        const data = await this.$axios.$get('/users/self/proposals', { params });

        this.proposals = data._embedded.proposals;

        this.pagination.totalItems = data._total_items;
      },
      onPageChange(value) {
        this.pagination = value;
        this.fetchProposals()
      }
    },
    created() {
      this.fetchProposals()
    }
  }
</script>
