<template>
  <v-layout row wrap>
    <v-flex xs12 lg8 xl6 offset-lg2 offset-xl3>
      <v-sheet class="pa-3">
        <div class="headline">New Proposal</div>

        <v-form>
          <v-text-field
            v-model="proposal.title"
            label="Title"
            name="title"
            required
          ></v-text-field>

          <v-textarea
            v-model="proposal.short_description"
            name="short_description"
            label="Short Description"
            required
          ></v-textarea>

          <v-textarea
            v-model="proposal.description"
            name="description"
            label="Description"
            required
          ></v-textarea>

          <v-text-field
            v-model="proposal.location"
            label="Location"
            name="location"
            required
          ></v-text-field>

          <v-text-field
            v-model="proposal.max_people_count"
            label="Max People Count"
            name="max_people_count"
            required
          ></v-text-field>

          <v-text-field
            v-model="proposal.max_boys_count"
            label="Max Boys Count"
            name="max_boys_count"
            required
          ></v-text-field>

          <v-text-field
            v-model="proposal.max_girls_count"
            label="Max Boys Count"
            name="max_girls_count"
            required
          ></v-text-field>

          <v-select
            v-model="duration"
            :items="durationOptions"
            label="Duration"
            item-text="text"
            item-value="value"
          ></v-select>

          <template v-if="duration === 'day'">
            <v-layout row wrap align-center v-for="(date, index) in dates" :key="index">
              <v-flex xs12 sm6 d-flex>
                <v-text-field
                  v-model="date.date"
                  label="Date"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 d-flex>
                <v-text-field
                  v-model="date.time"
                  label="Time"
                  append-outer-icon="mdi-close"
                  @click:append-outer="removeDate(index)"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-btn @click="addDate">Add Date</v-btn>
          </template>
          <template v-if="duration === 'interval'">
            <v-layout row wrap align-center v-for="(dateInterval, index) in dateIntervals" :key="index">
              <v-flex xs12 sm4 d-flex>
                <v-text-field
                  v-model="dateInterval.dateStart"
                  label="Start Date"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm4 d-flex>
                <v-text-field
                  v-model="dateInterval.dateEnd"
                  label="End Date"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm4 d-flex>
                <v-text-field
                  v-model="dateInterval.time"
                  label="Time"
                  append-outer-icon="mdi-close"
                  @click:append-outer="removeDateInterval(index)"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-btn @click="addDateInterval">Add Date Interval</v-btn>
          </template>
          <div class="mt-3">
            <v-btn color="indigo" dark>Save</v-btn>
          </div>
        </v-form>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    layout: 'dashboard',
    middleware: 'auth',
    data() {
      return {
        proposal: {
          title: '',
          short_description: '',
          description: '',
          location: '',
          max_people_count: '',
          max_boys_count: '',
          max_girls_count: '',
        },
        duration: 'day',
        dates: [{ date: '', time: '' }],
        dateIntervals: [{ dateStart: '', dateEnd: '', time: '' }],
        durationOptions: [
          { text: 'Day(s)', value: 'day' },
          { text: 'Interval(s)', value: 'interval' },
          { text: 'Schedule', value: 'schedule' }
        ],
        isProcessing: false
      }
    },
    methods: {
      addDate() {
        this.dates = [...this.dates, { date: '', time: '' }]
      },
      removeDate(index) {
        if (this.dates.length > 1) {
          this.dates.splice(index, 1)
        }
      },
      removeDateInterval(index) {
        if (this.dateIntervals.length > 1) {
          this.dateIntervals.splice(index, 1)
        }
      },
      addDateInterval() {
        this.dateIntervals = [...this.dateIntervals, { date: '', time: '' }]
      }
    }
  }
</script>
