<template>
  <v-layout row wrap>
    <v-flex xs12 lg8 xl6 offset-lg2 offset-xl3>
      <v-sheet class="pa-3">
        <h2 class="headline mb-3">General Information</h2>

        <v-form>
          <v-text-field
            v-model="user.name"
            label="Name"
            required
            :error-messages="validationErrors.name"
          ></v-text-field>

          <v-text-field
            v-model="user.username"
            label="Username"
            required
            :error-messages="validationErrors.username"
          ></v-text-field>

          <v-text-field
            v-model="user.email"
            label="Email"
            required
            :error-messages="validationErrors.email"
          ></v-text-field>

          <v-radio-group
            v-model="user.gender"
            row
            :error-messages="validationErrors.gender"
          >
            <v-radio
              label="Male"
              :value="male"
            ></v-radio>
            <v-radio
              label="Female"
              :value="female"
            ></v-radio>
          </v-radio-group>

          <v-btn
            :disabled="isProcessing"
            color="indigo"
            @click="submit"
            dark
          >
            Save
          </v-btn>

        </v-form>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    middleware: 'auth',
    data() {
      return {
        user: {
          name: '',
          username: '',
          email: '',
          gender: null,
        },
        isProcessing: false,
        validationErrors: {},
        male: 1,
        female: 0
      }
    },
    created() {
      this.user.name = this.$auth.user.name;
      this.user.username = this.$auth.user.username;
      this.user.email = this.$auth.user.email;
      this.user.gender = this.$auth.user.gender;
    },
    methods: {
      async submit() {
        try {
          this.isProcessing = true;
          await this.$store.dispatch('my-account/updateProfile', this.user);

          this.validationErrors = {};
        } catch (e) {
          const errors = e.response.data.errors;

          for (const invalidInput in errors) {
            if (!errors.hasOwnProperty(invalidInput)) {
              continue;
            }

            this.validationErrors[invalidInput] = Object.values(errors[invalidInput]);
          }
        } finally {
          this.isProcessing = false;
        }
      }
    }
  }
</script>
