<template>
  <v-layout row wrap>
    <v-flex xs12 md4 lg3 xl2 offset-lg1 offset-xl2>
      <v-sheet>
        <v-list two-line>
          <v-list-tile>
            <avatar :user="loggedInUser" class="mr-2"></avatar>

            <v-list-tile-content>
              <v-list-tile-title><span class="font-weight-bold">{{ loggedInUser.name }}</span> @{{ loggedInUser.username }}</v-list-tile-title>
              <v-list-tile-sub-title>Joined {{ $moment().unix(loggedInUser.created_at).format('LL') }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-btn color="indigo" dark flat nuxt to="/my-account/edit">Edit</v-btn>
      </v-sheet>
    </v-flex>
    <v-flex xs12 md8 lg7 xl6>
      <v-sheet>
        <v-tabs>
          <v-tab>Followers</v-tab>
          <v-tab>Following</v-tab>
          <v-tab-item :transition="false" :reverse-transition="false">
            <div class="pa-3" v-if="!followers.length">
              You don't have followers yet
            </div>
            <v-list two-line v-else>
              <v-list-tile
                v-for="(follower, index) in followers"
                :key="follower.id"
              >
                <avatar :user="follower" class="mr-4" router></avatar>
                <v-list-tile-content>
                  <v-list-tile-title><span class="font-weight-bold">{{ follower.name }}</span> @{{ follower.username }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-tab-item>
          <v-tab-item :transition="false" :reverse-transition="false">
            <div class="pa-3" v-if="!followees.length">
              You're not following anyone.
            </div>
            <v-list two-line v-else>
              <v-list-tile
                v-for="(followee, index) in followees"
                :key="followee.id"
              >
                <avatar :user="followee" class="mr-4" router></avatar>
                <v-list-tile-content>
                  <v-list-tile-title><span class="font-weight-bold">{{ followee.name }}</span> @{{ followee.username }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-tab-item>
        </v-tabs>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    middleware: 'auth',
    data() {
      return {
        followers: [],
        followees: [],
      }
    },
    computed: {
      ...mapGetters(['loggedInUser'])
    },
    methods: {
      async fetchFollowers() {
        const data = await this.$axios.$get(`/users/self/followers`);
        this.followers = data._embedded.followers;
      },
      async fetchFollowees() {
        const data = await this.$axios.$get(`/users/self/followees`);
        this.followees = data._embedded.followees;
      },
    },
    created() {
      this.fetchFollowers();
      this.fetchFollowees();
    }
  }
</script>
