<template>
  <v-layout row wrap>
    <v-flex xs12 lg8 xl6 offset-lg2 offset-xl3>
      <v-list two-line>
        <template
          v-for="(proposal, index) in proposals"
        >
          <v-list-tile
            :key="proposal.id"
            avatar
            router
            :to="`/proposal/${proposal.id}`"
          >
            <avatar :user="proposal._embedded.user" class="mr-4 hidden-xs-only"></avatar>
            <v-list-tile-content>
              <v-list-tile-title v-html="proposal.title"></v-list-tile-title>
              <v-list-tile-sub-title><span class="text--primary">{{ proposal._embedded.user.name }}</span> &mdash; {{ proposal.short_description }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-list-tile-action-text class="body-1">{{ $moment().unix(proposal.created_at).format('LL') }}</v-list-tile-action-text>

              <v-btn
                flat
                icon
                color="red darken-2"
                @click.prevent="unlikeProposal(proposal)"
              >
                <v-icon>mdi-heart</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider
            v-if="index + 1 < proposals.length"
            :key="index"
          ></v-divider>
        </template>
      </v-list>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    middleware: 'auth',
    data() {
      return {
        proposals: [],
      }
    },
    methods: {
      async fetchLikedProposals() {
        const data = await this.$axios.$get(`/users/self/liked-proposals`);
        this.proposals = data._embedded.proposals;
      },
      async unlikeProposal(proposal) {
        await this.$store.dispatch('unlikeProposal', proposal);
        this.proposals = this.proposals.filter(item => item.id !== proposal.id);
      }
    },
    created() {
      this.fetchLikedProposals()
    }
  }
</script>
