<template>
  <v-layout row wrap>
    <v-flex xs12 lg8 xl6 offset-lg2 offset-xl3>
      <v-sheet class="pa-3">
        <h2 class="headline mb-3">Change Password</h2>

        <v-form>
          <v-text-field
            v-model="oldPassword"
            label="Old Password"
            required
            :error-messages="validationErrors.old_password"
          ></v-text-field>

          <v-text-field
            v-model="newPassword"
            label="New Password"
            required
            :error-messages="validationErrors.new_password"
          ></v-text-field>

          <v-text-field
            v-model="confirmPassword"
            label="Confirm Password"
            required
            :error-messages="validationErrors.confirm_password"
          ></v-text-field>

          <v-btn
            :disabled="isProcessing"
            color="indigo"
            @click="submit"
            dark
          >
            Save
          </v-btn>

        </v-form>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    middleware: 'auth',
    data() {
      return {
        oldPassword: '',
        newPassword: '',
        confirmPassword: '',
        isProcessing: false,
        validationErrors: {}
      }
    },
    methods: {
      async submit() {
        try {
          this.isProcessing = true;

          await this.$axios.$put('/users/self/change-password', {
            old_password: this.oldPassword,
            new_password: this.newPassword,
            confirm_password: this.confirmPassword
          });

          this.validationErrors = {};
        } catch (e) {
          const errors = e.response.data.errors;

          for (const invalidInput in errors) {
            if (!errors.hasOwnProperty(invalidInput)) {
              continue;
            }

            this.validationErrors[invalidInput] = Object.values(errors[invalidInput]);
          }
        } finally {
          this.isProcessing = false;
          this.oldPassword = '';
          this.newPassword = '';
          this.confirmPassword = '';
        }

      }
    }
  }
</script>

