<template>
  <v-avatar :size="size" color="indigo" :style="style" v-if="user">
    <nuxt-link :to="link" class="align-center justify-center d-flex" v-if="router">
      <img :src="user.avatar" v-if="user.avatar" :alt="user.name">
      <span class="white--text headline" :title="user.name" v-else>{{ user.name.charAt(0) }}</span>
    </nuxt-link>
    <template v-else>
      <img :src="user.avatar" v-if="user.avatar" :alt="user.name">
      <span class="white--text headline" :title="user.name" v-else>{{ user.name.charAt(0) }}</span>
    </template>
  </v-avatar>
</template>

<script>
  export default {
    props: {
      user: {
        type: Object,
        required: false
      },
      size: {
        type: String,
        required: false,
        default: '48px'
      },
      router: {
        type: Boolean,
        default: false
      },
      to: {
        type: String,
        required: false
      }
    },
    computed: {
      link() {
        return this.to ? this.to : `/user/${this.user.id}`
      },
      style() {
        return { maxHeight: this.size, maxWidth: this.size, minHeight: this.size, minWidth: this.size }
      }
    }
  }
</script>

<style scoped>
  .v-avatar > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
</style>
