<template>
  <v-card flat>
    <div class="d-flex pa-3">
      <avatar :user="comment._embedded.author" class="mr-4"></avatar>
      <div>
        <v-card-title class="pa-0">
          <div><span class="font-weight-bold">{{ comment._embedded.author.name }}</span> @{{ comment._embedded.author.username }} {{ $moment().unix(comment.created_at).format('LL') }}</div>
        </v-card-title>
        <v-card-text class="pa-0 pt-2">
          <div> {{ comment.text }} </div>
        </v-card-text>
        <v-card-actions class="pa-0 pt-2">
          <div class="d-flex align-center">
            <v-btn
              flat
              icon
            >
              <v-icon
                @click="fetchComments(comment)"
              >
                mdi-comment-outline
              </v-icon>
            </v-btn>&nbsp;{{ comment.replies_count }}

            <v-btn
              flat
              icon
              v-if="!comment.is_liked"
              @click.prevent="likeComment(comment)"
            >
              <v-icon>mdi-heart-outline</v-icon>
            </v-btn>

            <v-btn
              flat
              icon
              color="red darken-2"
              @click.prevent="unlikeComment(comment)"
              v-else
            >
              <v-icon>mdi-heart</v-icon>
            </v-btn>&nbsp;{{ comment.likes_count }}
          </div>
        </v-card-actions>
      </div>
    </div>
  </v-card>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    props: {
      comment: {
        type: Object,
        required: true
      }
    },
    methods: {
      ...mapActions(['fetchComments', 'likeComment', 'unlikeComment']),
    }
  }
</script>

<style lang="stylus" scoped>
  .v-avatar {
    max-width: 48px;
    min-width: 48px;
  }
</style>
