<template>
  <v-toolbar app class="elevation-1">
    <v-toolbar-title class="headline text-uppercase">
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <div v-if="!isLoggedIn">
      <v-btn
        flat
        class="indigo white--text"
        to="/register"
      >
        <span>Sign Up</span>
      </v-btn>
      <v-btn
        flat
        to="/login"
      >
        <span>Login</span>
      </v-btn>
    </div>
    <div v-else>
      <avatar :user="loggedInUser" size="40px" @click.native="showDrawer" style="cursor: pointer"></avatar>&nbsp; {{ $auth.user.name }}
    </div>
  </v-toolbar>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex';
  import { SHOW_DRAWER } from "../mutation-types";

  export default {
    computed: {
      ...mapGetters(['loggedInUser', 'isLoggedIn'])
    },
    methods: {
      showDrawer() {
        this.$store.commit(SHOW_DRAWER, { value: true })
      },
    }
  }
</script>
