<template>
  <div>
    <p v-if="!participants.length">No participants yet. Be the first!</p>

    <v-list two-line>
      <v-list-tile
        v-for="(participant, index) in participants"
        :key="participant.id"
        avatar
        @click=""
      >
        <avatar :user="participant" class="mr-4" router></avatar>
        <v-list-tile-content>
          <v-list-tile-title>{{ participant.name }}</v-list-tile-title>
          <v-list-tile-sub-title>
            Joined on {{ $moment().unix(participant.join_date).format('LL') }}<br/>
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </div>

</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    created() {
      this.fetchParticipants();
    },
    computed: {
      ...mapState(['participants'])
    },
    methods: {
      ...mapActions(['fetchParticipants'])
    }
  }
</script>
