<template>
  <div>
    <v-data-table
      hide-headers
      :headers-length="headersLength"
      :items="timetable"
      item-key="id"
    >
      <template v-slot:items="props">
        <tr @click="props.expanded = !props.expanded">
          <td>
          <span v-if="props.item.date">
            {{ $moment().unix(props.item.date).format('LL') }}
          </span>
            <span v-if="props.item.date_start && props.item.date_end">
            {{ $moment().unix(props.item.date_start).format('LL') }}&nbsp;-&nbsp;{{ $moment().unix(props.item.date_end).format('LL') }}
          </span>
          </td>
          <td class="text-xs-right">
            <template v-if="$auth.user && $auth.user.id !== proposal._embedded.user.id">
              <v-btn
                @click.stop="participate(props.item)"
                v-if="!isParticipated(props.item)"
                :disabled="isProcessing"
                flat
                round
                color="success"
              >
                Join
              </v-btn>
              <v-btn
                @click.stop="confirmWithdraw(props.item)"
                :disabled="isProcessing"
                flat
                round
                color="red"
                v-else
              >
                Withdraw
              </v-btn>
            </template>
          </td>
        </tr>
      </template>
      <template v-slot:expand="props">
        <v-sheet>
          <div v-if="!props.item.participants.length">No participants yet. Be the first!</div>

          <v-list two-line>
            <v-list-tile
              v-for="(participant, index) in props.item.participants"
              :key="participant.id"
              avatar
              @click=""
            >
              <avatar :user="participant" class="mr-4" router></avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ participant.name }}</v-list-tile-title>
                <v-list-tile-sub-title>
                  Joined on {{ $moment().unix(participant.join_date).format('LL') }}<br/>
                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-sheet>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="subheading">Are you sure?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed @click="dialog = false">No</v-btn>
          <v-btn color="indigo" dark depressed @click="withdraw">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    data() {
      return {
        headersLength: 2,
        isProcessing: false,
        dialog: false,
        withdrawalTime: null
      }
    },
    created() {
      this.fetchTimetable();
    },
    computed: {
      ...mapState(['timetable', 'proposal'])
    },
    methods: {
      ...mapActions(['fetchTimetable', 'withdraw']),

      async participate(time) {
        if (this.$auth.user.gender === null) {

          return;
        }

        try {
          this.isProcessing = true;

          await this.$store.dispatch('participate', time);

        } catch (e) {

        } finally {
          this.isProcessing = false;
        }
      },
      async withdraw() {
        try {
          this.isProcessing = true;

          await this.$store.dispatch('withdraw', this.withdrawalTime);

        } catch (e) {

        } finally {
          this.isProcessing = false;
          this.withdrawalTime = null;
          this.dialog = false;
        }
      },
      isParticipated(time) {
        return time.participants.find((participant) => participant.id === this.$auth.user.id);
      },
      confirmWithdraw(time) {
        this.dialog = true;
        this.withdrawalTime = time;
      },
    }
  }
</script>
