<template>
  <div class="mt-3">
    <div v-if="comment">
      <!-- Thread start -->
      <comment
        v-for="comment in parentThread"
        :comment="comment"
        :key="comment.id"
      >
      </comment>
      <!-- Thread end -->
      <!-- Comment replied start -->
      <comment :comment="comment"></comment>
      <!-- Comment replied end -->
    </div>
    <div class="pa-3 d-flex">
      <v-avatar color="indigo" class="mr-4">
        <avatar :user="$auth.user" v-if="$auth.user"></avatar>
        <v-icon dark v-else>account_circle</v-icon>
      </v-avatar>
      <form>
        <div v-show="!showCommentTextarea">
          <v-text-field
            placeholder="Add a comment..."
            @click="showCommentTextarea = true"
            solo
          ></v-text-field>
        </div>
        <div v-show="showCommentTextarea">
          <v-textarea
            solo
            v-model="newComment.text"
            :error-messages="commentAddValidationErrors.text"
          ></v-textarea>
          <v-btn @click="addComment(newComment)" color="indigo" dark :disabled="isProcessing">Submit</v-btn>
          <v-btn @click="showCommentTextarea = false">Close</v-btn>
        </div>
      </form>
    </div>
    <!-- Comments/replies start -->
    <div
      v-for="(comment, index) in comments"
      :key="comment.id"
    >
      <comment :comment="comment"></comment>

      <comment
        v-for="reply in comment.replies"
        :comment="reply"
        :key="reply.id"
      >
      </comment>

      <v-divider
        v-if="index + 1 < comments.length"
        :key="`divider-${index}`">
      </v-divider>
    </div>
    <!-- Comments/replies end-->
  </div>
</template>

<script>
  import { mapActions, mapState, mapMutations } from 'vuex';
  import { INCREASE_COMMENT_REPLIES_COUNT, INCREASE_PROPOSAL_COMMENTS_COUNT } from "../mutation-types";

  export default {
    created() {
      this.fetchComments();

      this.newComment.proposal_id = this.proposal.id;
    },
    watch: {
      comments() {
        this.showCommentTextarea = false;
        this.commentAddValidationErrors = {};
      },
      comment() {
        this.newComment.comment_id = this.comment ? this.comment.id : null;
      }
    },
    data() {
      return {
        showCommentTextarea: false,
        newComment: {
          text: '',
          proposal_id: null,
          comment_id: null
        },
        isProcessing: false,
        commentAddValidationErrors: {}
      }
    },
    computed: {
      ...mapState(['comments', 'comment', 'proposal']),
      ...mapState({ parentThread: 'commentParentThread'})
    },
    methods: {
      ...mapActions(['fetchComments']),
      ...mapMutations({ increaseProposalCommentsCount: INCREASE_PROPOSAL_COMMENTS_COUNT, increaseCommentRepliesCount: INCREASE_COMMENT_REPLIES_COUNT }),
      async addComment(comment) {
        try {
          this.isProcessing = true;

          await this.$store.dispatch('addComment', comment);

          this.commentAddValidationErrors = {};
          this.newComment.text = '';

          if (this.comment) {
            this.increaseCommentRepliesCount()
          } else {
            this.increaseProposalCommentsCount();
          }
        } catch (e) {
          const errors = e.response.data.errors;

          for (const invalidInput in errors) {
            if (!errors.hasOwnProperty(invalidInput)) {
              continue;
            }

            this.commentAddValidationErrors[invalidInput] = Object.values(errors[invalidInput]);
          }
        } finally {
          this.isProcessing = false;
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .v-avatar {
    max-width: 48px;
    min-width: 48px;
  }
</style>
