<template>
  <v-layout row wrap>
    <v-flex xs12 md4 lg3 xl2 offset-lg1 offset-xl2>
      <v-sheet>
        <v-list two-line>
          <v-list-tile>
            <avatar :user="user" class="mr-2"></avatar>

            <v-list-tile-content v-if="user">
              <v-list-tile-title><span class="font-weight-bold">{{ user.name }}</span> @{{ user.username }}</v-list-tile-title>
              <v-list-tile-sub-title>Joined {{ $moment().unix(user.created_at).format('LL') }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <template v-if="$auth.user && user.id !== $auth.user.id">
          <template v-if="!user.is_blocked">
            <v-btn
              color="indigo"
              v-if="!user.is_followed"
              @click="follow"
              :disabled="isProcessing"
              dark
              flat
            >
              Follow
            </v-btn>
            <v-btn
              color="indigo"
              @click="unfollow"
              :disabled="isProcessing"
              dark
              flat
              v-else
            >
              Unfollow
            </v-btn>
          </template>

          <v-btn
            color="red darken-1"
            v-if="!user.is_blocked"
            @click="block"
            dark
            flat
            :disabled="isProcessing"
          >
            Block
          </v-btn>
          <v-btn
            color="success"
            @click="unblock"
            :disabled="isProcessing"
            dark
            flat
            v-else
          >
            Unblock
          </v-btn>
        </template>
      </v-sheet>
    </v-flex>
    <v-flex xs12 md8 lg7 xl6>
      <v-sheet>
        <v-tabs>
          <v-tab>Proposals</v-tab>
          <v-tab>Followers</v-tab>
          <v-tab>Following</v-tab>
          <v-tab-item :transition="false" :reverse-transition="false">
            <div class="pa-3" v-if="!proposals.length">
              The user does not have proposals.
            </div>
            <v-list two-line v-else>
              <template v-for="(proposal, index) in proposals">
                <v-list-tile
                  :key="proposal.id"
                  avatar
                  router
                  :to="`/proposal/${proposal.id}`"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-html="proposal.title"></v-list-tile-title>
                    <v-list-tile-sub-title>{{ proposal.short_description }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-list-tile-action-text class="body-1">{{ $moment().unix(proposal.created_at).format('LL') }}</v-list-tile-action-text>
                    <v-btn
                      flat
                      icon
                      v-if="!proposal.is_liked"
                      @click.prevent="likeProposal(proposal)"
                    >
                      <v-icon>mdi-heart-outline</v-icon>
                    </v-btn>

                    <v-btn
                      flat
                      icon
                      color="red darken-2"
                      @click.prevent="unlikeProposal(proposal)"
                      v-else
                    >
                      <v-icon>mdi-heart</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider
                  v-if="index + 1 < proposals.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-list>
          </v-tab-item>
          <v-tab-item :transition="false" :reverse-transition="false">
            <div class="pa-3" v-if="!followers.length">
              The user does not have followers.
            </div>
            <v-list two-line v-else>
              <v-list-tile
                v-for="(follower, index) in followers"
                :key="follower.id"
              >
                <avatar :user="follower" class="mr-4" router></avatar>
                <v-list-tile-content>
                  <v-list-tile-title><span class="font-weight-bold">{{ follower.name }}</span> @{{ follower.username }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-tab-item>
          <v-tab-item :transition="false" :reverse-transition="false">
            <div class="pa-3" v-if="!followees.length">
              The user is not following anyone.
            </div>
            <v-list two-line v-else>
              <v-list-tile
                v-for="(followee, index) in followees"
                :key="followee.id"
              >
                <avatar :user="followee" class="mr-4" router></avatar>
                <v-list-tile-content>
                  <v-list-tile-title><span class="font-weight-bold">{{ followee.name }}</span> @{{ followee.username }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-tab-item>
        </v-tabs>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    async asyncData({ params, $axios }) {
      let [user, followersData, followeesData, proposalsData] = await Promise.all([
        $axios.$get(`/users/${params.id}`),
        $axios.$get(`/users/${params.id}/followers`),
        $axios.$get(`/users/${params.id}/followees`),
        $axios.$get(`/users/${params.id}/proposals`),
      ]);

      return {
        user,
        followers: followersData._embedded.followers,
        followees: followeesData._embedded.followees,
        proposals: proposalsData._embedded.proposals,
      }
    },
    data() {
      return {
        isProcessing: false
      }
    },
    methods: {
      ...mapActions(['likeProposal', 'unlikeProposal']),
      async fetchFollowers() {
        const data = await this.$axios.$get(`/users/${this.$route.params.id}/followers`);
        this.followers = data._embedded.followers;
      },
      async fetchFollowees() {
        const data = await this.$axios.$get(`/users/${this.$route.params.id}/followees`);
        this.followees = data._embedded.followees;
      },
      async follow() {
        try {
          this.isProcessing = true;

          await this.$axios.get(`/users/${this.$route.params.id}/follow`);
          await this.fetchFollowers();

          this.user.is_followed = true;
        } catch (e) {

        } finally {
          this.isProcessing = false;
        }
      },
      async unfollow() {
        try {
          this.isProcessing = true;

          await this.$axios.get(`/users/${this.$route.params.id}/unfollow`);
          await this.fetchFollowers();

          this.user.is_followed = false;
        } catch (e) {

        } finally {
          this.isProcessing = false;
        }
      },
      async block() {
        try {
          this.isProcessing = true;

          await this.$axios.get(`/users/${this.$route.params.id}/block`);
          await this.fetchFollowers();
          await this.fetchFollowees();

          this.user.is_blocked = true;
          this.user.is_followed = false;
        } catch (e) {

        } finally {
          this.isProcessing = false;
        }
      },
      async unblock() {
        try {
          this.isProcessing = true;

          await this.$axios.get(`/users/${this.$route.params.id}/unblock`);

          this.user.is_blocked = false;
        } catch (e) {

        } finally {
          this.isProcessing = false;
        }
      },
    }
  }
</script>
