<template>
  <v-app>
    <navigation></navigation>
    <v-navigation-drawer
      v-model="showDrawer"
      app
      right
      temporary
      v-if="$auth.user"
    >
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <avatar :user="$auth.user" size="40px" class="mr-2"></avatar>

            <v-list-tile-content>
              <v-list-tile-title>{{ $auth.user.name }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>

        <v-list-tile
          v-for="item in items"
          :key="item.title"
          router
          :to="item.link"
        >
          <v-list-tile-action>
            <v-icon :color="item.color ? item.color : ''">{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="logout">
          <v-list-tile-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>Sign Out</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container grid-list-md>
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
  import { SHOW_DRAWER } from "../mutation-types";

  export default {
    data () {
      return {
        items: [
          { title: 'My Account', icon: 'mdi-account-circle', link: '/my-account' },
          { title: 'Edit Profile', icon: 'mdi-account-edit', link: '/my-account/edit' },
          { title: 'Password & Security', icon: 'mdi-lock', link: '/my-account/security'},
          { title: 'My Proposals', icon: 'mdi-playlist-edit', link: '/my-account/proposals'},
          { title: 'Liked Proposals', icon: 'mdi-heart', color: 'red darken-1', link: '/my-account/liked-proposals'},
        ],
      }
    },
    computed: {
      showDrawer: {
        get() {
          return this.$store.state.showDrawer
        },
        set(value) {
          this.$store.commit(SHOW_DRAWER, { value })
        }
      }
    },
    methods: {
      async logout() {
        await this.$auth.logout();
      }
    }
  }
</script>
