<template>
  <v-layout wrap row>
    <v-flex xs12 lg8 xl6 offset-lg2 offset-xl3>
      <v-card flat>
        <div class="d-flex pa-3 justify-start">
          <avatar :user="proposal._embedded.user" class="mr-4" router></avatar>
          <div>
            <v-card-title class="pa-0">
              <div><span class="font-weight-bold">{{ proposal._embedded.user.name }}</span> @{{ proposal._embedded.user.username }} {{ $moment().unix(proposal.created_at).format('LL') }}</div>
            </v-card-title>
            <v-card-text class="pa-0 pt-2">
              <div> {{ proposal.short_description }} </div>
            </v-card-text>
            <v-card-actions class="justify-space-between pa-0 pt-2">
              <div class="d-flex align-center">
                <v-btn
                  flat
                  icon
                >
                  <v-icon
                    @click="fetchComments"
                  >
                    mdi-comment-outline
                  </v-icon>
                </v-btn>&nbsp;{{ proposal.comments_count }}

                <v-btn
                  flat
                  icon
                  v-if="!proposal.is_liked"
                  @click.prevent="likeProposal(proposal)"
                >
                  <v-icon>mdi-heart-outline</v-icon>
                </v-btn>

                <v-btn
                  flat
                  icon
                  color="red darken-2"
                  @click.prevent="unlikeProposal(proposal)"
                  v-else
                >
                  <v-icon>mdi-heart</v-icon>
                </v-btn>
              </div>
              <div v-if="assistants">
                <avatar
                  :user="assistant"
                  v-for="assistant in assistants"
                  :key="assistant.id"
                  class="mr-2"
                  router
                >
                </avatar>
              </div>
            </v-card-actions>
          </div>
        </div>
      </v-card>
      <v-sheet>
        <v-tabs v-model="activeTab">
          <v-tab>Comments</v-tab>
          <v-tab>Participants</v-tab>
          <v-tab>Timetable</v-tab>
          <v-tab-item :transition="false" :reverse-transition="false">
            <proposal-comments></proposal-comments>
          </v-tab-item>
          <v-tab-item :transition="false" :reverse-transition="false">
            <proposal-participants></proposal-participants>
          </v-tab-item>
          <v-tab-item :transition="false" :reverse-transition="false">
            <proposal-timetable></proposal-timetable>
          </v-tab-item>
        </v-tabs>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    async fetch({ store, params }) {
      await store.dispatch('fetchProposal', params.id)
    },
    data () {
      return {
        activeTab: 0
      }
    },
    computed: {
      ...mapState(['proposal']),
      assistants() {
        return this.proposal._embedded.assistants;
      }
    },
    methods: {
      ...mapActions(['likeProposal', 'unlikeProposal']),
      fetchComments() {
        this.activeTab = 0;
        this.$store.dispatch('fetchComments');
      },
    }
  }
</script>
