<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 lg8 xl6>
      <div class="mb-4">
        <v-form>
          <div class="d-flex">
            <v-text-field
              solo
              hide-details
              style="width: 80%"
            >
            </v-text-field>
            <v-btn
              color="indigo"
              dark
              large
              class="hidden-xs-only"
              style="height: 48px; margin: 0 0 0 20px;"
            >Search</v-btn>
            <v-btn
              color="indigo"
              dark
              large
              class="hidden-sm-and-up pa-0"
              style="height: 48px; min-width: 48px; margin: 0 0 0 5px;"
            ><v-icon>mdi-magnify</v-icon></v-btn>
          </div>
        </v-form>
      </div>

      <v-list two-line>
        <template v-for="(proposal, index) in proposals">
          <v-list-tile
            :key="proposal.id"
            avatar
            router
            :to="`/proposal/${proposal.id}`"
          >
            <avatar :user="proposal._embedded.user" class="mr-4 hidden-xs-only"></avatar>
            <v-list-tile-content>
              <v-list-tile-title v-html="proposal.title"></v-list-tile-title>
              <v-list-tile-sub-title><span class="text--primary">{{ proposal._embedded.user.name }}</span> &mdash; {{ proposal.short_description }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-list-tile-action-text class="body-1">{{ $moment().unix(proposal.created_at).format('LL') }}</v-list-tile-action-text>
              <v-btn
                flat
                icon
                v-if="!proposal.is_liked"
                @click.prevent="likeProposal(proposal)"
              >
                <v-icon>mdi-heart-outline</v-icon>
              </v-btn>

              <v-btn
                flat
                icon
                color="red darken-2"
                @click.prevent="unlikeProposal(proposal)"
                v-else
              >
                <v-icon>mdi-heart</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider
            v-if="index + 1 < proposals.length"
            :key="index"
          ></v-divider>
        </template>
      </v-list>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { SET_PROPOSAL, SET_CATEGORY } from "~/mutation-types";

  export default {
    async fetch({ store, params}) {
      await store.dispatch('fetchProposals', { sort_by: 'created_at.desc' });
    },
    data() {
      return {

      }
    },
    computed: {
      ...mapState(['proposals', 'proposal', 'pagination']),
    },
    methods: {
      ...mapActions(['likeProposal', 'unlikeProposal']),
    }
  }
</script>
