<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-6">
        <v-toolbar dark color="indigo">
          <v-toolbar-title>Sign In</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-form>
          <v-card-text class="pa-3">
            <v-text-field prepend-icon="person" name="login" placeholder="Login" type="text" v-model="email"></v-text-field>
            <v-text-field id="password" prepend-icon="lock" name="password" placeholder="Password" type="password" v-model="password"></v-text-field>
            <div class="red--text darken-1" v-if="error">{{ error }}</div>
          </v-card-text>
          <v-card-actions class="pa-3">
            Don't have an account?&nbsp;<nuxt-link to="/register">Sign Up</nuxt-link>
            <v-spacer></v-spacer>
            <v-btn color="indigo" dark @click="login" :disabled="isProcessing">Login</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<style scoped>
  .box {
    max-width: 400px;
    margin: 0 auto;
  }
</style>
<script>
  export default {
    layout: 'auth',
    data() {
      return {
        email: '',
        password: '',
        isProcessing: false,
        error: ''
      }
    },
    methods: {
      async login() {
        try {
          this.isProcessing = true;

          await this.$auth.loginWith('local', {
            data: {
              email: this.email,
              password: this.password
            },
          });
        } catch (e) {
          this.error = e.response.data.detail;
        } finally {
          this.isProcessing = false;
        }
      }
    }
  }
</script>
