<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-6">
        <v-toolbar dark color="indigo">
          <v-toolbar-title>Sign Up</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-form>
          <v-card-text class="pa-3">
            <v-text-field
              name="name"
              placeholder="Name"
              type="text"
              v-model="user.name"
              required
              :error-messages="validationErrors.name"
            >
            </v-text-field>
            <v-text-field
              name="username"
              placeholder="Username"
              type="text"
              v-model="user.username"
              :error-messages="validationErrors.username"
            >
            </v-text-field>
            <v-text-field
              name="username"
              placeholder="Email"
              type="email"
              v-model="user.email"
              :error-messages="validationErrors.email"
            >
            </v-text-field>
            <v-text-field
              name="password"
              placeholder="Password"
              type="password"
              v-model="user.password"
              :error-messages="validationErrors.password"
            >
            </v-text-field>
            <v-checkbox
              v-model="user.agreed_with_terms"
              :error-messages="validationErrors.agreed_with_terms"
            >
              <template slot="label">
                <div>
                  I agree to the
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <a
                        target="_blank"
                        href="#"
                        v-on="on"
                      >
                        terms and conditions
                      </a>
                    </template>
                    Opens in new window
                  </v-tooltip>
                </div>
              </template>
            </v-checkbox>
          </v-card-text>
          <v-card-actions class="pa-3">
            Have an account?&nbsp;<nuxt-link to="/login">Log in</nuxt-link>
            <v-spacer></v-spacer>
            <v-btn color="indigo" dark @click="register" :disabled="isProcessing">Sign Up</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<style scoped>
  .box {
    max-width: 400px;
    margin: 0 auto;
  }
</style>
<script>
  export default {
    layout: 'auth',
    data() {
      return {
        user: {
          name: '',
          username: '',
          email: '',
          password: '',
          agreed_with_terms: false,
        },
        isProcessing: false,
        validationErrors: {},
      }
    },
    methods: {
      async register() {
        try {
          this.isProcessing = true;

          await this.$axios.post('/users', this.user);

          await this.$auth.loginWith('local', {
            data: {
              email: this.user.email,
              password: this.user.password
            },
          });
        } catch (e) {
          const errors = e.response.data.errors;

          for (const invalidInput in errors) {
            if (!errors.hasOwnProperty(invalidInput)) {
              continue;
            }

            this.validationErrors[invalidInput] = Object.values(errors[invalidInput]);
          }
        } finally {
          this.isProcessing = false;
        }
      }
    }
  }
</script>
